<router-outlet></router-outlet>

<div class="conatiner is-fluid">
<div class="columns ">
    <div class="column" >
        <div class="card">
            <div class="card-content">
              <div class="content">
                <div >
                    <canvas id="myChart"></canvas>
                  </div>          
                  </div>
            </div>
          </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
              <div class="content">
                <div>
                    <canvas id="lineChart"></canvas>
                  </div>          
                  </div>
            </div>
          </div>
    </div>
 
</div>
<div class="columns">
    
      <div class="column">
        <div class="card">
            <div class="card-content">
              <div class="content">
                <div>
                    <canvas id="bubbleChart"></canvas>
                  </div>         
                  </div>
            </div>
          </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="card-content">
              <div class="content">
                <div style="width: 500px;height: 470px;">
                    <canvas id="radarChart"></canvas>
                  </div>          
                  </div>
            </div>
          </div>
    </div>
 
</div>
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
              <div class="content">
                <div style="width: 600px;height: 600px;">
                    <canvas id="polarAreaChart"></canvas>
                  </div>          
                  </div>
            </div>
          </div>
    </div>
    
    
<div class="column">
    <div class="card">
        <div class="card-content">
          <div class="content">
            <div style="width: 600px;height: 600px;">
                <canvas id="doughnutChart"></canvas>
              </div>          
              </div>
        </div>
      </div>
</div>
</div>
</div>
