<div class="container is-fluid">
    <div class="columns">
        <div class="column">
            <header class="card-header" style=" background-color: rgb(242, 241, 247);">
                <p class="card-header-title"> cart </p>
                <nav class="breadcrumb is-small m-4" aria-label="breadcrumbs">
                    <ul>
                      <li><a href="#">Bulma</a></li>
                      <li><a href="#">project</a></li>
                      <li><a href="#">Components</a></li>
                      <li class="is-active"><a href="#" aria-current="page">cart</a></li>
                    </ul>
                  </nav>
            </header>
        </div>
    </div>

    <div class="columns">
        <div class="column is-8">
            <div class="card">
               
                <div class="card-content">
                  <div class="content">

                    <div class="table table-container">
                        <table class="table">
                            <thead>
                                <tr style="background-color: rgb(227, 226, 233);">
                                    <th>Product</th>
                                    <th>Product Description</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><figure class="image is-64x64">
                                        <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-1.png">
                                      </figure></th>
                                    <td>
                                        <h6>Half Sleeve T-shirt</h6>
                                        <p class="mb-0">"Color: "
                                            <span> Maroon</span>
                                        </p>
                                    </td>

                                    <td>$450</td>
                                    <td>
                                        <div class="me-3" style="width: 120px;">
                                            <div class="">
                                                <input type="text" value="02" class="control">
                                                <span>
                                                    <!-- <button class=""></button>
                                                    <button></button> -->
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>$900</td>
                                    <td><i class="fas fa-trash" style="color: #9d0606;"></i></td>
                                </tr>

                                <tr>
                                    <th><figure class="image is-64x64">
                                        <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-2.png">
                                      </figure></th>
                                      <td>
                                        <h6>Half Sleeve T-shirt</h6>
                                        <p class="mb-0">"Color: "
                                            <span> Maroon</span>
                                        </p>
                                    </td>

                                    <td>$450</td>
                                    <td>
                                        <div class="me-3" style="width: 120px;">
                                            <div class="">
                                                <input type="text" value="02" class="control">
                                                <span>
                                                    <!-- <button class=""></button>
                                                    <button></button> -->
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>$900</td>
                                    <td><i class="fas fa-trash" style="color: #9d0606;"></i></td>
            
                                </tr>
            
                                <tr>
                                    <th><figure class="image is-64x64">
                                        <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-3.png">
                                      </figure></th>
                                      <td>
                                        <h6>Half Sleeve T-shirt</h6>
                                        <p class="mb-0">"Color: "
                                            <span> Maroon</span>
                                        </p>
                                    </td>

                                    <td>$450</td>
                                    <td>
                                        <div class="me-3" style="width: 120px;">
                                            <div class="">
                                                <input type="text" value="02" class="control">
                                                <span>
                                                    <!-- <button class=""></button>
                                                    <button></button> -->
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>$900</td>
                                    <td><i class="fas fa-trash" style="color: #9d0606;"></i></td>
            
                                </tr>

                                <tr>
                                    <th><figure class="image is-64x64">
                                        <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-4.png">
                                      </figure></th>
                                    <td>
                                        <h6>Half Sleeve T-shirt</h6>
                                        <p class="mb-0">"Color: "
                                            <span> Maroon</span>
                                        </p>
                                    </td>

                                    <td>$450</td>
                                    <td>
                                        <div class="me-3" style="width: 120px;">
                                            <div class="">
                                                <input type="text" value="02" class="control">
                                                <span>
                                                    <!-- <button class=""></button>
                                                    <button></button> -->
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>$900</td>
                                    <td><i class="fas fa-trash" style="color: #9d0606;"></i></td>
                                </tr>

                                <tr>
                                    <th><figure class="image is-64x64">
                                        <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-5.png">
                                      </figure></th>
                                    <td>
                                        <h6>Half Sleeve T-shirt</h6>
                                        <p class="mb-0">"Color: "
                                            <span> Maroon</span>
                                        </p>
                                    </td>

                                    <td>$450</td>
                                    <td>
                                        <div class="me-3" style="width: 120px;">
                                            <div class="">
                                                <input type="text" value="02" class="control">
                                                <span>
                                                    <!-- <button class=""></button>
                                                    <button></button> -->
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>$900</td>
                                    <td><i class="fas fa-trash" style="color: #9d0606;"></i></td>
                                </tr>

                                <tr>
                                    <th><figure class="image is-64x64">
                                        <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-6.png">
                                      </figure></th>
                                    <td>
                                        <h6>Half Sleeve T-shirt</h6>
                                        <p class="mb-0">"Color: "
                                            <span> Maroon</span>
                                        </p>
                                    </td>

                                    <td>$450</td>
                                    <td>
                                        <div class="me-3" style="width: 120px;">
                                            <div class="">
                                                <input type="text" value="02" class="control">
                                                <span>
                                                    <!-- <button class=""></button>
                                                    <button></button> -->
                                                </span>
                                            </div>
                                        </div>
                                    </td>

                                    <td>$900</td>
                                    <td><i class="fas fa-trash" style="color: #9d0606;"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  <div class="columns">
                    
                  </div>
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">continue shopping</a>
                  <a href="#" class="card-footer-item">checkout</a>
                
                </footer>
              </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <div class="card-content">
                    <div class="card-header-title">Card Details</div>
                    <div class="card" style="background-color: #556ee6;">
                        <div class="card-content">
                            <div>
                                <div class=""></div>
                                <div></div>
                                <!-- <div><img src="/assets/images/img1.png" alt=""></div> -->
                                <div><i class="fas fa-microchip fa-lg" style="color: #df7f11;"></i></div>
                            </div>
                            <div class="columns mt-5">
                                <div class="column is-4">
                                    <p><i class="fas fa-star-of-life m-1" style="color: #f4f5f6;"></i>
                                        <i class="fas fa-star-of-life m-1" style="color: #f4f5f6;"></i>
                                        <i class="fas fa-star-of-life m-1" style="color: #f4f5f6;"></i>
                                    </p>
                                </div>
                                <div class="column is-4">
                                    <p><i class="fas fa-star-of-life m-1" style="color: #f4f5f6;"></i>
                                        <i class="fas fa-star-of-life m-1" style="color: #f4f5f6;"></i>
                                        <i class="fas fa-star-of-life m-1" style="color: #f4f5f6;"></i>
                                    </p>
                                </div>
                                <div class="column is-4">
                                    <p><i class="fas fa-star-of-life m-1" style="color: #f4f5f6;"></i>
                                        <i class="fas fa-star-of-life m-1" style="color: #f4f5f6;"></i>
                                        <i class="fas fa-star-of-life m-1" style="color: #f4f5f6;"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="mt-5">
                                <h5 class="mb-0" style="color: #f4f5f6;">12/22</h5>
                                <h5 class="mb-0" style="color: #f4f5f6;">Fredrick Taylor</h5>
                            </div>

                        </div>
                    </div>
    
                </div>
              
                </div>


                <div class="card mt-5">
                    <div class="card-content">
                        <div class="card-header-title mb-3">Order Summary</div>
                        <div class="table table-container">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Grand Total : </td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                        <td>$1,857</td>
                                    </tr>
                                    <tr>
                                        <td>Discount : </td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                        <td>- $ 157</td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total : </td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                        <td>$1,857</td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total : </td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                        <td>$1,857</td>
                                    </tr>
                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
