<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
   
	<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</head>
<body>
	<div>

		   <!-- NAVBAR -->
		   <nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="https://bulma.io">
					<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
				</a>
	
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
					data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
	
			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" routerLinkActive="active" routerLink="/products" aria-current="page">
						Products
					</a>
	
					<a class="navbar-item" routerLinkActive="active" routerLink="/invoice" aria-current="page">
						Invoice
					</a>
					
					<a class="navbar-item" routerLinkActive="active" routerLink="/user-list" aria-current="page">
						User List
					</a>
					<a class="navbar-item" routerLinkActive="active" routerLink="/cart" aria-current="page">
						cart
					</a>
					
				</div>
	
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							<a class="button is-primary">
								<strong>Sign up</strong>
							</a>
							<a class="button is-light">
								Log in
							</a>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<!-- side navbar -->
		

	<router-outlet></router-outlet>
	</div>
	
</body>
</html>