<!-- <app-test></app-test> -->
<div class="container is-fluid">
    <!--top row -->
       <div class="columns">
        <div class="column">
            <header class="card-header" style=" background-color: rgb(242, 241, 247);">
                <p class="card-header-title"> Products </p>
                <nav class="breadcrumb is-small m-4" aria-label="breadcrumbs">
                    <ul>
                      <li><a href="#">Bulma</a></li>
                      <li><a href="#">project</a></li>
                      <li><a href="#">Components</a></li>
                      <li class="is-active"><a href="#" aria-current="page">Products</a></li>
                    </ul>
                  </nav>
            </header>
        </div>
       </div>
    <!-- row -->
    <div class="columns">
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-header-title mb-4">Filter</h4>
                    <div>
                        <h5 class="font-size-14 mb-3">Clothes</h5>
                        <ul class="">
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-angle-right"></i> > T-shirts
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-angle-right"></i> > Shirts
                                </a>

                            </li>
                            <li> <a href="">
                                    <i class="fa-solid fa-angle-right"></i> > Jeans
                                </a></li>
                            <li> <a href="">
                                <i class="fa-solid fa-angle-right"></i> > Jackets
                            </a></li>
                        </ul>
                    </div>
                    

      <!-- DISCOUNT SECTION -->
                    <div class="mt-4 pt-3">
                        <h5 class="font-size-14 mb-3">Discount</h5>
                        <div class="mt-2">
                            <label class="checkbox">
                                <input type="checkbox">
                                Less than 10%
                              </label>
                        </div>
                        
                        <div class="mt-2">
                            <label class="checkbox">
                                <input type="checkbox">
                                20% or more
                              </label>
                        </div>
                        <div class="mt-2">
                            <label class="checkbox">
                                <input type="checkbox">
                                30% or more
                              </label>
                        </div>
                          <div class="mt-2">
                            <label class="checkbox">
                                <input type="checkbox">
                                40% or more
                              </label>
                        </div>
                          <div class="mt-2">
                            <label class="checkbox">
                                <input type="checkbox">
                                50% or more
                              </label>
                        </div>
                          <div class="mt-2">
                            <label class="checkbox">
                                <input type="checkbox">
                                60% or more
                              </label>
                        </div>
                    </div>

      <!-- CUSTOMER RATING -->
                    <div class="mt-4 pt-3">
                        <h5 class="font-size-14 mb-3">Customer Rating</h5>
                        <div>
                            <div class="mt-2">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    4 <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i> & Above
                                  </label>
                            </div>
                            <div class="mt-2">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    3 <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i> & Above
                                  </label>
                            </div>
                            <div class="mt-2">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    2 <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i> & Above
                                  </label>
                            </div>
                            <div class="mt-2">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    1 <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                                  </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-9">
    <!-- first row -->
        <div class="columns mb-3">
                <div class="column is-4">
                    <div class="mt-2"><h5>Clothes</h5></div>
                </div>
                <div class="column is-8">
<!-- SEARCH -->
                    <!-- <div class="is-align-items-self-end">
                        <div>
                            <div class="search-box me-2">
                                <input type="text" class="" placeholder="Search...">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <a href="">
                                    <i class="fas fa-th-large"></i>
                                    
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-list"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
        </div>
    <!-- second row -->
        <div class="columns ">
        <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <!-- IMAGE -->
                            <div>
                                <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-1.png" class="image" alt="">
                            </div>
                            <!-- TEXT -->
                        <div class="mt-4 has-text-centered">
                        <h5 class="mb-3 ">T Shirt</h5>
                        <p> <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i> 
                        </p>  
                        <h5 class="my-0">
                            <span class="me-2">
                                <del>$500</del>
                            </span>
                            <b>$450</b>
                        </h5>
                        </div>
                        </div>
            </div>
            <div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <div class="card-content">
                    <!-- IMAGE -->
                    <div>
                        <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-2.png" class="image" alt="blue tshirt">
                    </div>
                    <!-- TEXT -->
                <div class="mt-4 has-text-centered">
                <h5 class="mb-3 ">T Shirt</h5>
                <p> <i class="fas fa-star fa-xs str" style="color: #e6d80f;"></i>
                    <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                    <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                    <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                    <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i> 
                </p>  
                <h5 class="my-0">
                    <span class="me-2">
                        <del>$500</del>
                    </span>
                    <b>$450</b>
                </h5>
                </div>
                </div>
    </div>
    <div>
    </div>
        </div>
        <div class="column is-4">
    <div class="card">
        <div class="card-content">
            <!-- IMAGE -->
            <div>
                <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-3.png" class="image" alt="black tshirt">
            </div>
            <!-- TEXT -->
        <div class="mt-4 has-text-centered">
        <h5 class="mb-3 ">T Shirt</h5>
        <p> <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i> 
        </p>  
        <h5 class="my-0">
            <span class="me-2">
                <del>$500</del>
            </span>
            <b>$450</b>
        </h5>
        </div>
        </div>
</div>
<div>

</div>
        </div>
        </div>

    
    <div class="columns ">
    
        <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <!-- IMAGE -->
                            <div>
                                <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-4.png" class="image" alt="">
                            </div>
                            <!-- TEXT -->
                        <div class="mt-4 has-text-centered">
                        <h5 class="mb-3 ">T Shirt</h5>

                        <p> <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i> 
                        </p>  
                        <h5 class="my-0">
                            <span class="me-2">
                                <del>$500</del>
                            </span>
                            <b>$450</b>
                        </h5>
                        </div>
                        </div>
                   
               
            </div>
            <div>

            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <div class="card-content">
                    <!-- IMAGE -->
                    <div>
                        <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-5.png" class="image" alt="">
                    </div>
                    <!-- TEXT -->
                <div class="mt-4 has-text-centered">
                <h5 class="mb-3 ">T Shirt</h5>

                <p> <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                    <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                    <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                    <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
                    <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i> 
                </p>  
                <h5 class="my-0">
                    <span class="me-2">
                        <del>$500</del>
                    </span>
                    <b>$450</b>
                </h5>
                </div>
                </div>

    </div>
    <div>

    </div>
        </div>
        <div class="column is-4">
    <div class="card">
        <div class="card-content">
            <!-- IMAGE -->
            <div>
                <img src="https://themesbrand.com/skote/layouts/assets/images/product/img-6.png" class="image" alt="">
            </div>
            <!-- TEXT -->
        <div class="mt-4 has-text-centered">
        <h5 class="mb-3 ">T Shirt</h5>

        <p> <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i>
            <i class="fas fa-star fa-xs" style="color: #e6d80f;"></i> 
        </p>  
        <h5 class="my-0">
            <span class="me-2">
                <del>$500</del>
            </span>
            <b>$450</b>
        </h5>
        </div>
        </div>
   

</div>
<div>

</div>
        </div>
    </div>

  
  

<!-- end row -->
           <div class="columns ">
            <div class="column">
                <nav class="pagination is-rounded is-small " role="navigation" aria-label="pagination">
                    <a class="pagination-previous">Previous</a>
                    <a class="pagination-next">Next page</a>
                    <ul class="pagination-list">
                      <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                      <li><span class="pagination-ellipsis">&hellip;</span></li>
                      <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                      <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                      <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                      <li><span class="pagination-ellipsis">&hellip;</span></li>
                      <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                    </ul>
                  </nav>
            </div>
           </div>

</div>
</div>
</div>