<div class="card m-5 ml-6">
    <header class="card-header" style=" background-color: rgb(242, 241, 247);">
        <p class="card-header-title">
            USERS LIST
        </p>
        <nav class="breadcrumb is-small m-4" aria-label="breadcrumbs">
            <ul>
              <li><a href="#">Bulma</a></li>
              <li><a href="#">project</a></li>
              <li><a href="#">Components</a></li>
              <li class="is-active"><a href="#" aria-current="page">userList</a></li>
            </ul>
          </nav>
        
    </header>
    <div class="card-content">
        <div class="content">
            <div class="table table-container">
            <table class="table">
                <thead>
                    <tr style="background-color: rgb(227, 226, 233);">
                        <th><abbr title="Position">#</abbr></th>
                        <th>Name</th>
                        <th><abbr title="Played">Email</abbr></th>
                        <th><abbr title="Won">tags</abbr></th>
                        <th><abbr title="Drawn">Projects</abbr></th>
                        <th><abbr title="Lost">Action</abbr></th>
                    </tr>
                </thead>
                <!-- <tfoot>
                <tr>
                    <th><abbr title="Position">#</abbr></th>
                    <th>Name</th>
                    <th><abbr title="Played">Email</abbr></th>
                    <th><abbr title="Won">tags</abbr></th>
                    <th><abbr title="Drawn">Projects</abbr></th>
                    <th><abbr title="Lost">Action</abbr></th>
               
                </tr>
                </tfoot> -->
                <tbody>
                    <tr>
                        <th>
                            <!-- <div><span><figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                  </figure></span></div> -->
                        </th>
                        <td>David McHenry

                        </td>
                        <td>david@gmail.com</td>
                        <td><span class="tag is-link is-light">Photoshop</span>
                            <!-- <span class="tag is-link is-light">illustrator</span> -->
                        </td>
                        <td>12</td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Frank Kirk</td>
                        <td>frankk@gmail.com</td>
                        <td><span class="tag is-warning is-light">html</span>
                            <span class="tag is-link is-light">php</span>
                        </td>
                        <td>123
                        </td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>

                    </tr>

                    <tr>
                        <th>8</th>
                        <td>Mark Kirk</td>
                        <td>mark@gmail.com</td>
                        <td><span class="tag is-warning is-light">html</span><span class="tag is-success is-light ">php</span>


                        </td>
                        <td>132</td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>                    </tr>

                    <tr>
                        <th>1</th>
                        <td>David McHenry

                        </td>
                        <td>david@gmail.com</td>
                        <td><span class="tag is-link is-light">Photoshop</span>
                            <!-- <span class="tag is-link is-light">illustrator</span> -->
                        </td>
                        <td>112</td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>
                    </tr>


                    <tr>
                        <th>1</th>
                        <td>David McHenry

                        </td>
                        <td>david@gmail.com</td>
                        <td><span class="tag is-warning is-light">html</span><span class="tag is-link is-light">Photoshop</span>
                            <!-- <span class="tag is-link is-light">illustrator</span> -->
                        </td>
                        <td>145</td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>

                    </tr>
                    <tr>
                        <th>1</th>
                        <td>David McHenry

                        </td>
                        <td>david@gmail.com</td>
                        <td><span class="tag is-link is-light">Photoshop</span>
                            <!-- <span class="tag is-link is-light">illustrator</span> -->
                        </td>
                        <td>124</td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>David McHenry

                        </td>
                        <td>david@gmail.com</td>
                        <td><span class="tag is-link is-light">Photoshop</span>
                            <!-- <span class="tag is-link is-light">illustrator</span> -->
                        </td>
                        <td>122</td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>

                    </tr>
                    <tr>
                        <th>1</th>
                        <td>David McHenry

                        </td>
                        <td>david@gmail.com</td>
                        <td><span class="tag is-link is-light">Photoshop</span>
                            <!-- <span class="tag is-link is-light">illustrator</span> -->
                        </td>
                        <td>122</td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>

                    </tr>
                    <tr>
                        <th>1</th>
                        <td>David McHenry

                        </td>
                        <td>david@gmail.com</td>
                        <td><span class="tag is-link is-light">Photoshop</span>
                            <!-- <span class="tag is-link is-light">illustrator</span> -->
                        </td>
                        <td>122</td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>

                    </tr>
                    <tr>
                        <th>1</th>
                        <td>David McHenry

                        </td>
                        <td>david@gmail.com</td>
                        <td><span class="tag is-link is-light">Photoshop</span>
                            <!-- <span class="tag is-link is-light">illustrator</span> -->
                        </td>
                        <td>122</td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>

                    </tr>
                    <tr>
                        <th>1</th>
                        <td>David McHenry

                        </td>
                        <td>david@gmail.com</td>
                        <td><span class="tag is-link is-light">Photoshop</span>
                            <!-- <span class="tag is-link is-light">illustrator</span> -->
                        </td>
                        <td>122</td>
                        <td><i class="far fa-comment-alt ml-4 mr-5"></i><i class="fas fa-user-alt ml-5 mr-3"></i></td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    </div>
    <footer class="card-footer is-justify-content-center">
        <nav class="pagination is-rounded is-small m-2" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </footer>
</div>