<div>
    <div class="container is-fluid">
      <!-- first row         -->
      <div class="columns">
        <div class="column">
          <header class="card-header" style=" background-color: rgb(242, 241, 247);">
            <p class="card-header-title"> Dashboard </p>
            <nav class="breadcrumb is-small m-4" aria-label="breadcrumbs">
              <ul>
                <li><a href="#">Bulma</a></li>
                <li><a href="#">project</a></li>
                <li><a href="#">Components</a></li>
                <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
              </ul>
            </nav>

          </header>
        </div>
      </div>

      <!-- second row -->
      <div class="columns">
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida
                at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Cras mattis consectetur purus sit amet fermentum.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-content">
              <div class="content">
                Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida
                at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Cras mattis consectetur purus sit amet fermentum.
              </div>
            </div>
          </div>
        </div>
        <div class="column is-8">
          <div class="columns">
            <div class="column is-4">

              <div class="card">
                <div class="card-content">
                  <div class="content">
                    orders
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    Revenue </div>
                </div>
              </div>
            </div>

            <div class="column is-4">
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    Average price </div>
                </div>
              </div>
            </div>
          </div>

          <!-- right side  graph card -->
          <div class="card">
            <div class="card-content">
              <div class="content">
                Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida
                at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Cras mattis consectetur purus sit amet fermentum.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- third row -->
      <div class="columns">
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                Average price </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                Average price </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                Average price </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="content">
                Average price </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>